
.DS_Store
WeatherApp.xcodeproj/project.xcworkspace/xcuserdata/victorruiz.xcuserdatad/UserInterfaceState.xcuserstate
WeatherApp.xcodeproj/project.xcworkspace/xcuserdata/victorruiz.xcuserdatad/UserInterfaceState.xcuserstate
WeatherApp.xcodeproj/project.xcworkspace/xcuserdata/victorruiz.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate
WeatherApp.xcodeproj/project.xcworkspace/xcuserdata/victorruiz.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate
*.xcuserstate
